@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  --branco: #fff;
  --brancoAcinzentado: #f9f9f9;
  --cinzaClaro: #ececec;
  --cinza: #c4c4c4;
  --cinzaMedio: #a7a7a7;
  --cinzaEscuro: #343434;
  --preto: #000000;
  --azul: #1b77f3;
  --vermelho: #cf3c3f;
}

main{
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  padding: clamp(35px, 8%, 70px);
}

.involucro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginLogo {
  width: 130px;
  margin-bottom: 80px;
}

.loginTitulo {
  color: var(--cinzaEscuro);
  font-size: 1.5em;
  margin-bottom: 30px;
}

.loginRotulo {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  width: 100%;
  background-color: var(--cinzaClaro);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  font-size: 0.9em;
  padding: 25px 10px 10px;
  font-weight: 600;
  color: var(--cinzaEscuro);
}

.loginRotulo span {
  position: absolute;
  font-size: 0.8em;
  font-size: 700;
  text-transform: uppercase;
  color: var(--cinzaMedio);
  margin: 20px;
  cursor: text;
  transition: all 200ms ease;
}

.input:focus {
  background-color: var(--brancoAcinzentado);
  border: 2px solid var(--cinzaEscuro);
}

.loginRotulo .spanAtivo {
  font-size: 0.7em;
  margin: 8px 10px;
}

.loginIcones {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.loginIcones img {
  width: 20px;
}

.iconesBotao {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.loginIcones .iconesBotao:nth-child(1) {
  background-color: var(--azul);
}

.loginIcones .iconesBotao:nth-child(2) {
  background-color: var(--cinzaClaro);
}

.loginIcones .iconesBotao:nth-child(3) {
  background-color: var(--preto);
}

.loginRotulo--checkbox {
  width: 100%;
  margin: 15px 0;
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.input--checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--cinzaClaro);
  margin-right: 8px;
  border-radius: 3px;
}

.input--checkbox:checked {
  background-color: var(--vermelho);
}

.input--checkbox:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: 3px solid var(--branco);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin: 2px 6px;
}

.loginBotao {
  width: 60px;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--vermelho);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 60px;
}

.loginBotao svg {
  fill: var(--branco);
}

.loginBotao:disabled {
  cursor:auto;
  background-color: white;
  border: 2px solid var(--cinzaClaro);
}

.loginBotao:disabled svg {
  fill: var(--cinzaMedio);
}

.loginLink {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--cinzaMedio);
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
}

.papelDeParede {
  width: 100%;
  background-image: url('./images/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
}

